.git
.gitignore
.gitmodules
**/*.prj/
**/*.csv

build/
experiments/fig-11/result.csv
experiments/table-2/codo/3Conv/3conv_12.mlir
experiments/table-2/codo/3Conv/3conv_nonaddertree.cpp
experiments/table-2/codo/3mm/3mm_7.mlir
experiments/table-2/codo/3mm/3mm.cpp
experiments/table-2/codo/Atax/atax_7.mlir
experiments/table-2/codo/Atax/atax.cpp
experiments/table-2/codo/Attention/attention_7.mlir
experiments/table-2/codo/Attention/attention.cpp
experiments/table-2/codo/Autoencoder/autoencoder_7.mlir
experiments/table-2/codo/Autoencoder/autoencoder.cpp
experiments/table-2/codo/DwsConv/dwsconv_12.mlir
experiments/table-2/codo/DwsConv/dwsconv_nonaddertree.cpp
experiments/table-2/codo/Feedforward/feedforward_7.mlir
experiments/table-2/codo/Feedforward/feedforward.cpp
experiments/table-2/codo/Gemm/gemm_7.mlir
experiments/table-2/codo/Gemm/gemm.cpp
experiments/table-2/codo/Gesummv/gesummv_7.mlir
experiments/table-2/codo/Gesummv/gesummv.cpp
experiments/table-2/codo/Mvt/mvt_7.mlir
experiments/table-2/codo/Mvt/mvt.cpp
experiments/table-2/codo/ResidualBlock/residualblock_12.mlir
experiments/table-2/codo/ResidualBlock/residualblock_nonaddertree.cpp
experiments/table-2/codo/Residualmlp/residualmlp_7.mlir
experiments/table-2/codo/Residualmlp/residualmlp.cpp
experiments/table-3_and_table-4/codo/3_32_32/mobilenet-small/mobilenet_12.mlir
experiments/table-3_and_table-4/codo/3_32_32/mobilenet-small/mobilenet_12.cpp
experiments/table-3_and_table-4/codo/3_32_32/resnet-small/resnet18_12.mlir
experiments/table-3_and_table-4/codo/3_32_32/resnet-small/resnet18_12.cpp
experiments/table-3_and_table-4/codo/3_32_32/vgg-small/vgg16_12.mlir
experiments/table-3_and_table-4/codo/3_32_32/vgg-small/vgg16_12.cpp   
experiments/table-3_and_table-4/codo/3_224_224/mobilenet-large/mobilenet_12.mlir
experiments/table-3_and_table-4/codo/3_224_224/mobilenet-large/mobilenet_12.cpp
experiments/table-3_and_table-4/codo/3_224_224/resnet-large/resnet18_12.mlir
experiments/table-3_and_table-4/codo/3_224_224/resnet-large/resnet18_12.cpp
experiments/table-3_and_table-4/codo/3_224_224/vgg-large/vgg16_12.mlir
experiments/table-3_and_table-4/codo/3_224_224/vgg-large/vgg16_12.cpp
experiments/table-3_and_table-4/codo/3_224_224/yolo/yolo_12.mlir
experiments/table-3_and_table-4/codo/3_224_224/yolo/yolo_12.cpp
experiments/table-3_and_table-4/codo/3_224_224/zfnet/zfnet_12.mlir
experiments/table-3_and_table-4/codo/3_224_224/zfnet/zfnet_12.cpp
